@page "/person"
@inject PeopleDbConxtext db

<h3>Seznam osob</h3>

<table class="table">
    <thead>
        <tr>
            <th>Jméno</th>
            <th>Příjmení</th>
            <th>Datum narození</th>
            <th>Email</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var person in peopleToShow)
        {
            <tr>
                <td>@person.FirstName</td>
                <td>@person.LastName</td>
                <td>@person.DateOfBirth.ToString("dd. MM. yyyy")</td>
                <td> 
                    <a href="/person/detail/@person.Id">@person.Email</a>
                </td>
                <td>
                    <a href="/person/edit/@person.Id">edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<button class="btn btn-primary" @onclick="LoadNext">načti dalších 10</button>

@code {
    private List<Person> peopleToShow = new();

    int skip = 0;

    protected override void OnInitialized()
    {
        peopleToShow = db.Persons
                        .Take(10).ToList();

        skip = 10;
    }

    void LoadNext()
    {
        var peopleToAdd = db.Persons.Skip(skip)
                  .Take(10)
                  .ToList();

        peopleToShow.AddRange(peopleToAdd);

        skip += 10;
    }
}
